{% extends "templates/error.twig" %}
{% block error %}
    Page not found. Please, return <a href="/">home</a>.
{% endblock %}
{% block details %}
    Or, maybe you clicked a link that I'm too lazy to finish...
{% endblock %}